<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Smaller Web Hexagon
  </title>
</head>
<body>

<p>
  value = <%= out[:value] %>:  <br />
  rate = <%= out[:rate] %>:  <br />
  result = <%= out[:result] %>:  <br />
</p>

</body>
</html>
