<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Smaller Web Hexagon
  </title>
</head>
<body>

<p>
  value = <%= hex_out[:value] %>:  <br />
  rate = <%= hex_out[:rate] %>:  <br />
  result = <%= hex_out[:result] %>:  <br />
</p>


</body>
</html>

